.greeting-container{
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 20px;
    margin: auto;
    justify-content: center;
    background-color: white;
    width: fit-content;
    box-shadow: 10px 10px 10px gray;
    text-align: center;


}
.personal-mode{
    color:orange;
}
.business-mode{
    color:lightseagreen;
}

.greeting-title{
    text-align: center;
}
.greeting-content{
    text-align: center;
}
