
.skill{
    background: #ffffff;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}

.skill input{
    border: none;
    width: 100%;
    min-width: 50px;
}
.skill input:focus{
    outline: none;
}
ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul li .input-skill{
    align-items: center;
    background: green;
    border-radius: 2px;
    color: #ffffff;
    list-style: none;
    margin: 5px;
    padding: 5px;
}
ul li button{
    align-items: center;
    background: #333333;
    border: none;
    color: #ffffff;
    cursor: pointer;
    height: 15px;
    width: 15px;
    font-size: 12px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    margin-left: 8px;
    transform: rotate(45deg);
}
ul .input-skill{
    background: none;
    flex-grow: 1;
}

.interest-container{
    margin-top: 50px;
    justify-content: center;
    margin-left: 50px;
    width: 300px;
    align-content: center;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 20px;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 10px gray;

}